<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ibraheem Rodrigues // Web Development Portfolio</title>

        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

        <style>
            :root {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
